@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@font-face {
  font-family: 'Inter var';
  src: url('/assets/Inter-var.ttf');
}

:root {
  --app-bg: #fff;
  --shadow: rgb(0 0 0 / 0.1);
  --text: #28282e;
  --primary: #057ec5;
  font-family: 'Inter var', sans-serif;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  font-variation-settings: normal;
}

html {
  background-color: var(--app-bg);
  color: var(--text);
}

html.dark {
  --app-bg: #0f0f0f;
  --shadow: rgb(255 255 255 / 0.05);
  --text: #fff;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 64px;
}

.swv-modal {
  position: relative;
  z-index: 10000;
}

.swv-button.swv-button-trigger,
.swv-button.swv-button-trigger:hover {
  background-color: var(--primary);
  color: var(--app-bg);
  font-family: 'Inter var', sans-serif;
  font-weight: normal;
  height: unset;
  line-height: unset;
  padding: 0.5rem 1rem;
}

html.dark .swv-button.swv-button-trigger,
html.dark .swv-button.swv-button-trigger:hover {
  background-color: #2f94cf; /* "400" variant of primary palette. See main.ts file */
}

textarea[description] {
  field-sizing: content;
}